<html xmlns:th="www.thymeleaf.org">
	<body>
		<form action="authentication" method="post">
			<table style="border:2px solid blue;font-size:20px" cellpadding="10px">
				<tr>
					<td>Enter user id</td>
					<td><input type="text" name="uid" style="font-size:19px" required></td>"
				</tr>
				<tr>
					<td>Enter password</td>
					<td><input type="password" name="pass" style="font-size:19px" required></td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<button style="font-size:18px">Submit</button>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<label th:text="${msg}" style="color:red"></label>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>